<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Holil</title>
    {% include 'includes/stylesheets.html' %}
</head>
<body id="top">
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">HolilRahman</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Tentang</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portofolio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#education">Pendidikan</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#skils">Kemampuan</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
{% block content %}

{% endblock content %}
 <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4"><i class="fa fa-map-marked-alt"  aria-hidden="true"></i> Lokasi </h4>
            <p class="lead mb-0">Kalimantan Timur, Balikpapan
              <br>Jl. Indrakila No 91</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
            <img src="img/logo.png" height="100px" weight="100px" alt=""></a>
            <h4 class="text-uppercase mb-4">Follow Me</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/holilrahman99">
              <i class="fab fa-fw fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light btn-social mx-1" href="#">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/holilrhmn/">
              <i class="fab fa-instagram"></i>
            </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4"><i class="fas fa-angle-double-right"  aria-hidden="true"></i> Kutipan <i class="fas fa-angle-double-left"  aria-hidden="true"></i></h4>
          <blockquote class="blockquote">
            <p class="mb-0"> Tetaplah Optimis Saat Segalanya Seolah Terasa Berat Bagimu, Sebab Allah Sendiri Telah Bersumpah 2 kali : "Sesungguhnya Bersama Kesulitan Itu Ada Kemudahan".</p>
            <footer class="blockquote-footer">Kutipan dari <cite title="Source Title">Qomikin</cite></footer>
          </blockquote>
        </div>

      </div>
    </div>
  </footer>
    {% include 'includes/scripts.html' %}
</body>
</html>